
body{

background-color: none;
    #container{
        width: cover;
        margin: 0% auto;
       
    }

    font-family:Helvetica;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  
}

nav h1 h1{
      float: right;
      height: 15px;
      margin: 10px;
      color: aliceblue;
}



.btn{
    position: relative;
    width: 15%;
    left: 45%;
    top: 5cm;
    border:5;
    background-image: linear-gradient(
        150deg,
        #9500,
        #09F,
        #00DDFF
    );
    border-radius: 5px;
color:#fff;
display: flex;
font-size: 19px;
padding: 4px;
cursor: default;
transition: .100s;
}

button span{
    position: relative;
    bottom: 50%;
    background-color: #111;
    position: relative;
    padding: 16px 24px;
    border-radius: 2px;
    transition: .100s;
    cursor: default;
}
button:hover span {
    background: none;
}
button:active {
    transform: scale(0,9)
}
     
.btn2{
    position: relative;
    width: 15%;
    top: 10cm;
    left: 45%;
    border:0;
    background-image: linear-gradient(
        150deg,
        #9500,
        #09F,
        #00DDFF
    );
    border-radius: 8px;
color:#fff;
display: flex;
font-size: 18px;
padding: 4px;
cursor: pointer;
transition: .3s;
}

.button span{
    position: relative;
    background-color: #111;
    padding: 16px 29px;
    border-radius: 6px;
    transition: .3s;
    cursor: default;
}
button:hover span {
    background: none;
}
button:active {
    transform: scale(0,9)
}
     
       

